@using rent.Dto

@model (KiralamaBilgi kira,List<aracDto> araclar,List<musteriDto>musteriler)
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Araç Kiralama</h3>

<form method="post" asp-action="KiralamaEkle" asp-controller="kiralama">


    <div class="mb-3">
        <label class="form-label" asp-for="kira.AracId">Araç Seçimi</label>
        <select class="form-control" asp-for="kira.AracId" asp-items="@(new SelectList(Model.araclar.OrderBy(a=>a.marka).ThenBy(a=>a.model),"id","markamodel"))"> </select>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="kira.MusteriId">Müşteri İsim seçimi</label>
        <select class="form-control" asp-for="kira.MusteriId" asp-items="@(new SelectList(Model.musteriler,"id","adsoyad"))"> </select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="kira.KiralamaGun">kaç gün kiralamak istiyorsunuz?</label>
        <input type="number" class="form-control" asp-for="kira.KiralamaGun"  />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}